@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

.first-name{
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
  color: #006400;
  margin-left: 21.25%;
  /* margin-left: 270px; */
  margin-right: 765px;
}

.last-name{
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
  color: #8b4513;
  margin-left: 38.5%;
  /* margin-left: 494px; */
  margin-top: -169px;
  /* margin-right: 800px; */
}

.divider{
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
  color: #000000;
  margin-left: 55.5%;
  /* margin-left: 494px; */
  margin-top: -169px;
  /* margin-right: 800px; */
}

.list-item-name{
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
  color: #0077be;
  margin-left: 57.5%;
  /* margin-left: 494px; */
  margin-top: -13.1%;
  /* margin-right: 800px; */
}

.navigation-bar{
  height: 35px;
  width: 420px;
  margin-left: 21.75%;
  /* margin-left: 278px; */
  margin-top: -5%;
}

.blog-text{
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  margin-left: 21.25%;
  /* margin-left: 260px; */
  text-align: left;
}

.blog-box{
  background-color: white;
  /* border-radius: 11px; */
  border: 2px solid lightgrey;
  height: 3.65em;
}

/* .image-box{
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid black;
  height: 12em;
  margin-top: 0.25em;
  margin-left: 0.25em;
  margin-right: 0.25em;
} */

.blog-heading{
  font-family: 'Roboto Slab', serif;
  font-size: 1.15em;
  margin-top: 1em;
  text-align: left;
  margin-left: 15px;
}

.blog-heading a:hover{
  color: blue;
}

.blog-title{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align: left;
  margin-left: 21.25%;
  margin-top: 2.5em;
}

.blog-title-2{
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  text-align: left;
  margin-left: 21.25%;
}

.blog-date{
  font-family: 'Poppins', sans-serif;
  font-size: 12.5px;
  text-align: right;
  margin-right: 15px;
  margin-top: -20px;
  font-style: italic;
}

.blog-date-2{
  font-family: 'Poppins', sans-serif;
  font-size: 12.5px;
  margin-left: 21.25%;
  margin-top: -20px;
  font-style: italic;
}

.project-text{
  font-family: 'Hind', sans-serif;
  font-size: 12.5px;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
}

h1 {
  font-family: 'Roboto Slab';
  font-size: 30px;
  margin-left: 39.5%;
  /* margin-left: 260px; */
  margin-top: 0%;
}

ul{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background colour: white;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 4px 16px;
}

a {
  color: black;
}

a:hover{
  opacity: 0.7;
}

body {
  background-color: white;
}

table{
  margin-left: 28.5%;
}

th{
  /* border: 1px solid black; */
  width: 34.5em;
}

button{
  width: 22.5em;
  height: 30em;
  background-color: white;
  border-radius: 10px;
  align-items: flex-end;
  cursor: pointer;
}

button:hover{
  background-color: #f8f8ff;
}

img{
  height: 10em;
  width: 20em;
}

hr{
  margin-top: 5px;
  margin-left: 8px;
}
