@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');


.first-name{
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
  color: #000080;
  margin-left: 21.25%;
  /* margin-left: 270px; */
  margin-right: 765px;
}

.last-name{
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
  color: #800000;
  margin-left: 38.5%;
  /* margin-left: 494px; */
  margin-top: -169px;
  /* margin-right: 800px; */
}

.list-item-name{
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
  color: #000000;
  margin-left: 56.5%;
  /* margin-left: 494px; */
  margin-top: -13.1%;
  /* margin-right: 800px; */
}

.navigation-bar{
  height: 35px;
  width: 420px;
  margin-left: 21.75%;
  /* margin-left: 278px; */
  margin-top: -5%;
}

ul{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background colour: white;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 4px 16px;
}

a {
  color: black;
}

a:hover{
  opacity: 0.7;
}

body {
  background-color: white;
}
